.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal .content {
  background-color: white;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 2px;
  position: relative;
  max-width: 90vw !important;
  max-height: 90vh !important;
}

.Modal .children {
  overflow-y: auto;
  overflow-x: hidden;
}

.Modal .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border: none;
  border-radius: 0px;
}

.Modal .closeBtn:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
}


.Modal .label {
  font-size: x-large;
  margin-bottom: 15px;
  padding: 10px;
  color: gray;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.ConfirmationModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 237px;
  max-width: 390px;
  text-align: center;
  overflow: none;
}

.ConfirmationModal label {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.ConfirmationModal button {
  border: 1px solid lightgray;
  border-radius: 0;
  margin: 5px;
  padding: 5px;
  width: 50px;
  margin-bottom: 0;
}

.ConfirmationModal button:hover {
  background-color: lightgray;
}

.confirmBtn {
  color: white;
  background-color: #e6897c;
  border: 1px solid #e6897c !important;
  font-weight: bold;
}

.confirmBtn:hover {
  background-color: crimson !important;
}

.blink {
  animation:blink 500ms infinite;
}
@keyframes blink {
  0% {background-color: #efefef}
  50% {background-color:#ffe99b;}
  100% {background-color: #efefef;}
}
